<!-- エラー -->
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<!-- エラーメッセージ -->
<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@book)do |f| %>
<h2>Editing Book</h2>
<h3>Title</h3>
<%= f.text_field :title %>
<h3>Opinion</h3>
<%= f.text_field :body %>
<%= f.submit 'updatebook' %>
<% end %>